.veil {
  background-color: #888888;
}
td {
  width: 55px;
  height: 55px;
  border-collapse: collapse;
  text-align: center;
}

tr td {
  border: 2px solid black;
  font-size: 30px;
}

table {
  border-collapse: collapse;
}

.hint {
  font-size: 1.5em;
}

.main {
  max-width: 600px;
  margin: 0 auto;
}

.input_cell {
  width: 55px;
  height: 55px;
  border: 0;
  text-align: center;
  font-size: 30px;
  background: transparent;
  padding: 0px;
}

td.selected {
  background: #8b8bffb5;
}

td.cursor {
  background: #ff0000;
}


